# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Hongkai's Puget

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: set CUDA
      run: |
        export CUDA_VISIBLE_DEVICES=0
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 ./mani_skill2/tests/ --count --select=E9,F63,F7,F82 --show-source --statistics
        flake8 ./mani_skill2/dynamics/ --count --select=E9,F63,F7,F82 --show-source --statistics
        flake8 ./mani_skill2/data/ --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 ./mani_skill2/tests/ --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
        flake8 ./mani_skill2/dynamics/ --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
        flake8 ./mani_skill2/data/ --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        pytest maniskill2/tests
        python -m unittest discover examples/dough_model_learning/test
